@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,700;0,900;1,300&display=swap');


/* reset */
body {
padding: 0;
border: 0;
margin: 0;
}

/* all page */
.page-wrapper {
  font-family: 'Roboto', sans-serif;
}

/* header section */
.header-section {
  background-color: #1F2937;
  color: #F9FAF8;
}

.header-top-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0px 300px 0px 300px;

}

.header-top-bar .logo {
  font-weight: 700;
  font-size: 24px;
}

.header-top-bar .header-links {
  display: flex;
  flex-direction: row;
  gap: 30px;
}

.header-top-bar .link {
  font-weight: 300;
  font-size: 18px;
}

.header-information {
  display: flex;
  flex-direction: row;
  padding: 60px 300px 100px 300px;
  gap: 40px;
}

.header-information-text {
  max-width: 50%;
}

.header-information-description .text-main {
  color: #E5E7EB;
  font-size: 18px;
}

.header-information-text * {
  margin: 0;
}

.header-information-image {
  width: 50%;
  height: auto;
  overflow: hidden;
  background-color: #F9FAF8;
  opacity: 0.5;
}

.header-information-text .sign-up-button {
  background-color: #3882F6;
  padding: 8px 30px 8px 30px;
  color: #F9FAF8;
  font-size: 16px;
  font-weight: 600;
  border-radius: 10px;
  border: none;
  margin-top: 10px;
}

.image-column {
  object-fit: contain;
}

/* information section */
.information-section {
  padding: 0px 300px 80px 300px;

}

.information-title {
  width: 100%;
}

.information-title h3 {
  text-align: center;
  font-size: 36px;
  font-weight: 700;
}

.information-items {
  display: flex; 
  flex-direction: row;
  gap: 80px;
  justify-content: center;
}

.information-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.information-image {
  width: 135px;
  height: 135px;
  border: 3px solid #3882F6;
  border-radius: 10px;
}

.information-text {
  text-align: center;
}

/* quote section */
.quote-section {
  background-color: #E5E7EB;
  padding: 0px 300px 0px 300px;
  display: flex;
  flex-direction: column;
  height: 400px;
  justify-content: center;
}

.quote-quotes {

}

/* sign-up section */
.sign-up-section {
  color: #E5E7EB;
  padding: 100px 300px 100px 300px;
}

.sign-up-container {
  background-color: #3882F6;
  border-radius: 8px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 25px 100px 25px 100px;
}

.sign-up-container p {
  margin: 0px;
}

.sign-up-description-title {
  font-weight: 600;
  font-size: 20px;
}

.sign-up-button-container button {
  background-color: #3882F6;
  padding: 8px 30px 8px 30px;
  color: #F9FAF8;
  font-size: 16px;
  font-weight: 600;
  border-radius: 10px;
  border: 2px solid #F9FAF8;
  margin-top: 10px;
}


/* footer */
.footer {
  background-color: #1F2937;
  color: #F9FAF8;
  padding: 22px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* text classes */
h2 {
  font-size: 48px;
  font-weight: 900;
  margin-bottom: -10px; 
}

p {
  margin-top: 10px;
}

blockquote {
  font-size: 36px;
  font-weight: 300;
  margin-bottom: 0;
}

cite {
  text-align: right;
  font-weight: 600;
  display: block;
  padding-right: 100px;
  font-style: normal;
}
